In [9]:
#librerias para pandas
import pandas as pd

In [10]:
# leer archivo archive_processed/Reporte de ventas por articulos-2_processed.xlsx como df
df = pd.read_excel('archive_processed/Reporte de ventas por articulos-2_processed.xlsx')

In [11]:
df.head()

,Fecha,Comprobante Nº,Código,Nombre del Producto,Cantidad,Precio Un.,Ganancia,Subtotal
0,06-06-2025,FB 00010 00003252,CA743130,CABLE MALLA TIPO C DATOS 3.1A/CAB-41012,1,5000,4999,5000
1,07-05-2025,RM X 00010 00000208,SO5579,SOPORTE CELULAR DE METAL 360 GRADOS/HD-71069,1,5000,4999,5000
2,16-04-2025,RM X 00012 00004749,SO5579,SOPORTE CELULAR DE METAL 360 GRADOS/HD-71069,1,6000,5999,6000
3,23-05-2025,FB 00010 00003109,SO5579,SOPORTE CELULAR DE METAL 360 GRADOS/HD-71069,1,5000,4999,5000
4,13-05-2025,RM X 00010 00000235,SO5579,SOPORTE CELULAR DE METAL 360 GRADOS/HD-71069,1,5000,4999,5000

In [12]:
#ver fila numero 5763 hasta la ultima fila
df.iloc[5763:]

,Fecha,Comprobante Nº,Código,Nombre del Producto,Cantidad,Precio Un.,Ganancia,Subtotal
5763,01-01-1900,Sin registro,Sin registro,Sin registro,0,0,0,0
5764,01-01-1900,Sin registro,Sin registro,Sin registro,0,0,0,0
5765,01-01-1900,Totales:,Sin registro,6216,0,139539491,140817483,133676742

In [13]:
#eliminar estas filas
df = df.drop(df.index[5763:])

In [14]:
#sobrescribir archivo archive_processed/Reporte de ventas por articulos-2_processed.xlsx
df.to_excel('archive_processed/Reporte de ventas por articulos-2_processed.xlsx', index=False)